* {
  box-sizing: border-box;
}
body {
  background-color: lavenderblush;
}
/* -------------------------------------------------------------------Header ----------------------------------------------------------------*/
/* --------------------------------------------------------------------Navbar */
nav {
  height: 50px;
  background-color: #7752bd;
  display: flex;
  align-items: center;
}
.logo {
  color: #010203;
}
.logo a {
  text-decoration: none;
  color: #010203;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 3rem;
}
nav ul a {
  text-decoration: none;
  color: black;
}
nav ul a:hover {
  text-decoration: none;
  color: white;
}

/* ----------------------------------------------------------------slidbar */
.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark {
  width: 280px;
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;
  position: fixed;
  height: 100vh;
  display: none;
}
.nav-item {
  width: 100%;
}
.d-flex.flex-column.flex-shrink-0.p-3.text-white.bg-dark ul {
  width: 100%;
  margin: 0;
}
#slidbar_icon {
  display: none;
}
header .show {
  right: 0px;
  display: block;
}
.active-link {
  /* background-color: #060607; */
  border-radius: 0.3rem;
}
.active-link a {
  color: beige;
  text-decoration: none;
}
.active-link a:hover {
  color: rgb(245, 245, 195);
  text-decoration: none;
}
.SlidItemActive {
  background-color: #7d40ee;
  border-radius: 0.5rem;
}
.SlidItemActive:hover {
  background-color: #935df7;
  border-radius: 0.65rem;
  transition: 0.5s ease-in-out;
}
header .hide {
  /* display: none; */
  right: -100%;
}
/* ----------------------------------------------------------------slidbar */
/* ------------------------------------------------------------Navbar---------------------------------------------------------------- */
/* ------------------------------------------------------------<Home section >---------------------------------------------------------------- */
.home_section {
  height: 95vh;
  /* background-color: red; */
}
.home_section a {
  color: black;
}
.home_section a:hover {
  color: #3b3c36;
}
.home_section .row {
  display: flex;
  /* position: relative; */
}
.home_section .row .text-about-me {
  align-items: center;
}
.home_section .row .text-about-me .all-links {
  height: 100px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 1rem;
}
.home_section .row .text-about-me .home-headings {
  /* height: 400px; */
  /* background-color: pink; */
  margin-left: 3rem;
}
.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.all-links li {
  background-color: black;
}

.about-me .button {
  margin-top: 1.5rem;
}

/* ------------------------------------------------------------</Home section > ---------------------------------------------------------------- */

/*---------------------------------------------------------------- header---------------------------------------------------------------- */

/* skill section */
.Skills ul {
  list-style: none;
}
.Skills .head {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  /* border: 1px solid black; */
  border-radius: 1.2rem;
  margin-top: 0.2rem;
  width: 48%;
}
.Skills .skill-items {
  border: 1px solid black;
  border-radius: 0.6rem;
  margin-top: 0.2rem;
  /* border-top: none; */
}
.fab {
  font-size: 1.2rem;
}
.Skills .show {
  display: block;
  border: none;
}
.Skills .hide {
  display: none;
}
.active_head .fas {
  color: #7752bd;
  transition: 0.3s ease-in-out;
}
.active_head .logo2 {
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}
.active_head .heading {
  color: #000000;
}
.progress {
  margin-bottom: 0.4rem;
  margin-top: 1rem;
}
.progress > div {
  background-color: #7752bd;
}
.skill-items li .fab {
  font-size: 1rem;
  color: #7752bd;
}
/* about section  */
.about-image {
  padding: 0px;
}
.about-me .wraper {
  padding: 20px 0px;
}
.about-me .heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.score-projects {
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.about-image img {
  width: 73%;
  /* border: 2px solid black; */
  border-radius: 2rem;
}
.about-me {
  padding: 20px 0px;
}

/* qualification  */
.qualification-main_title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 3rem;
}
.qualification-school span {
  position: absolute;
  background-color: green;
  right: 0px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}
.qualification-school .row {
  padding: 30px 0px;
  position: relative;
}
.qualification-school .row .col-6 {
  position: relative;
}
.qualification-school .left .col-6 {
  position: relative;
}
.qualification-school .left span {
  /* display: inline-block; */
  position: absolute;
  background-color: #7752bd;
  right: 0px;
}
.qualification-mySedlf span {
  position: absolute;
  /* background-color: #7752bd; */
  right: 0px;
  width: 10px;
  height: 10px;
  background-color: #7752bd;
  border-radius: 50%;
}
.qualification-mySedlf .row {
  padding: 30px 0px;
  position: relative;
}
.qualification-mySedlf .row .col-6 {
  position: relative;
}
.qualification-mySedlf .left .col-6 {
  position: relative;
}
.qualification-mySedlf .left span {
  /* display: inline-block; */
  position: absolute;
  background-color: #7752bd;
  right: 0px;
}
.qualification-inner-data {
  padding: 0px 20px;
}
.qualification-line {
  width: 20px;
  height: 20px;
  background-color: #7752bd;
}

.qualification-active {
  display: block;
}
.qualification-inactive {
  display: none;
}
.subtitle .qualification-title {
  cursor: pointer;
}
.subtitle .qualification-title:hover {
  color: #7752bd;
}
.subtitle .qualification-work-active {
  color: #7752bd;
}
/* project  */
.projects-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.carousel-item .project-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-item .project-img img {
  width: 80%;
  height: 60%;
  border-radius: 1rem;
}
.carousel-item {
  height: 30rem;
}
.carousel-item > .content-head {
  height: 30rem;
}
.carousel-item .item-title {
  display: flex;
  justify-content: center;
}
.carousel-item .item-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-item .item-right > div {
  height: 50%;
}
.carousel-item .item-right .contant {
  width: 100%;
  height: 40%;
  margin-top: 1rem;
  overflow: hidden;
  text-align: center;
}
.carousel-item .item-right button {
  margin-top: 4rem;
}
#carouselExampleCaptions {
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-width {
  width: 50%;
}

/* /project  */
/* contact  */
.contact-title {
  text-align: center;
}
.contact-me .contact-data .row.name .contact-input {
  width: 49%;
  margin: 0px 2px;
}
.contact-me .contact-data .contact-input {
  width: 100%;
  height: 50px;
  /* border-radius: 0.1rem; */
  outline: none;
  border-radius: 0.5rem;
  background-color: #8561c9;
  /* padding-left: 0.5rem; */
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: pink;
}
.contact-me .contact-data .row.message .contact-input {
  height: 200px;
  display: block;
}
.name-input {
  display: flex;
  justify-content: center;
}
.contact-data .row {
  padding: 10px 0px;
}
.contact-input input {
  color: rgb(41, 37, 37);
}
::placeholder {
  color: black;
  opacity: 0.5; /* Firefox */
}

/* //footer  */

.footer-top .col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.footer-top .top-right {
  gap: 1rem;
}
.footer-top .top-middel {
  justify-content: space-between;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.5rem 0px; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
footer {
  /* padding: 1.5rem 0px; */
  background-color: #7752bd;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
footer a {
  text-decoration: none;
  color: #1a1212;
}
footer a:hover {
  text-decoration: none;
  color: #000000;
}
footer .top-left {
  color: #1a1212;
}
footer .footer-bottom {
  color: #1a1212;
}
/* global */

#carouselExampleCaptions {
  /* overflow: hidden; */
}
.carousel-item {
  /* width: 50px; */
  height: 50%;
  overflow: hidden;
}
.carousel-item img {
  height: 32rem;
  /* width: 500px; */
  /* height: 50%; */
}
section {
  padding-top: 4rem;
  padding-bottom: 4.5rem;
}

.headingStyle {
  font-weight: 700;
  color: #1b1b1b;
}
.buttonDesign {
  border: none;
  border-radius: 1rem;
  outline: none;
  padding: 0.6rem 0.9rem;
  transition: 0.5s ease-in-out;
  background-color: #80808045;
}
.buttonDesign:hover {
  background-color: #7752bd;
  transition: 0.5s ease-in-out;
}
