@media only screen and (max-width: 500px) {
  header nav ul {
    display: none;
  }
  header > nav {
    justify-content: space-between;
  }
  #slidbar_icon {
    display: block;
  }
  .contact-data .row > .col-md-6 {
    padding-bottom: 10px;
  }
  .carousel-item img {
    height: 20rem;
    /* width: 500px; */
    /* height: 50%; */
  }
  .Skills .head {
    width: 100%;
  }
  .text-about-me {
    order: 2;
  }
  .carousel-item .project-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
  .carousel-item .item-right .contant {
    height: 60%;
    text-align: center;
  }
  .carousel-item .item-right button {
    margin-top: 2rem;
  }
  .carousel-width {
    width: 100%;
  }
}
@media only screen and (min-width: 500px) {
  .skill-section {
    width: 48%;
    margin: 0px 0.5rem;
  }
  .skill-section .head {
    width: 100%;
  }
  .Skills {
    display: flex;
  }
}
